GOOGLE_API_KEY=your_api_key_here
GEMINI_MODEL=
GEMINI_EMBEDDING_MODEL=

GROQ_API_KEY=your_api_key_here
GROQ_MODEL=

MISTRAL_API_KEY=your_api_key_here
MISTRAL_MODEL=

HUGGINGFACEHUB_API_TOKEN=your_api_key_here
HUGGINGFACE_MODEL=
HUGGINGFACE_PROVIDER=auto

OPENROUTER_API_KEY=your_api_key_here
OPENROUTER_MODEL=
OPENROUTER_BASE_URL=

NVIDIA_API_KEY=your_api_key_here
NVIDIA_MODEL=